<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
    <h2>{{.Title}}</h2>
    {{range .PhotoUrls}}
    <img src={{.}} width="400" height="400">
    {{end}}
    <p>{{.Description}}</p>
    <p>Price: {{.Price}} rub.</p>
    <p>Created {{.CreatedAtDate}} by: {{.GetUserInitials}}</p>
</body>
</html>