<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <style>
        body {
            background: #c7b39b url(https://images11.popmeh.ru/upload/img_cache/d90/d90dd32c7a45cb6d90d7ed209afe7d3c_ce_960x960x8x0_cropped_800x800.jpeg);
            color: #000;
        }
    </style>
</head>
<body>
<h1 align="center">Error 404. {{.}}. Redirect to the <a href="/">main</a> page</h1>
</body>
</html>