<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Hello,  {{.Initials}}</h1>
<p>User id: {{.Uid}}</p>
<p>Login: {{.Login}}</p>
<form action="/logout" method="get">
    <input type="submit" value="logout" name="Submit" id="frm1_submit" />
</form>

</body>
</html>