<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All ads</title>
</head>
<body>

<h2><a href="/home">Home</a> <a href="/add">Add</a> <a href="/login">Login</a> </h2>

<table width="100%" border="1" cellpadding="4">
    <tr stile="text-align: right">
        <th>Title</th>
        <th>Photo</th>
        <th>Price</th>
    </tr>
    {{range .Items}}
    <tr>
        <td><a href="/adv?aid={{.Aid}}">{{.Title}}</a></td>
        {{range .PhotoUrls}}
        <td><img src={{.}} width="250" height="250"></td>
        {{end}}
        <td>{{.Price}}</td>
    </tr>
    {{end}}
</table>

<div class="container">
    <ul class="pager">
        {{range .Pages}}
        <li><a href="/?page={{.}}">{{.}}</a></li>
        {{end}}
    </ul>
</div>

</body>
</html>